<div class="alignleft">
  <% if (config.author){ %>
  &copy; <%= new Date().getFullYear() %> <%= config.author %>
  <% } else { %>
  &copy; <%= new Date().getFullYear() %> <%= config.title %>
  <% } %>
</div>
<div class="clearfix"></div>
<% if (theme.busuanzi_count.enable) { %>
<div class="busuanzi-count">
  <script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>

  <% if (theme.busuanzi_count.site_uv) { %>
    <span id="busuanzi_container_site_uv">
		<%= theme.busuanzi_count.site_uv_title %><span id="busuanzi_value_site_uv"></span><%= theme.busuanzi_count.unit %>
	</span>
  <% } %>

  <% if (theme.busuanzi_count.site_pv) { %>
    <span id="busuanzi_container_site_pv">
		<%= theme.busuanzi_count.site_pv_title %><span id="busuanzi_value_site_pv"></span><%= theme.busuanzi_count.unit %>
	</span>
  <% } %>
</div>

<% } %>

<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https'){
   bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
  }
  else{
  bp.src = 'http://push.zhanzhang.baidu.com/push.js';
  }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>